<%= provide(:title,  "All Posts") %>

<%= render 'partials/header' %>


<main class="container">
  <section class="post">

    <% if @projects.any? %>
      <% @projects.each do |project| %>
      <section class="three-space">
        <h2><%= link_to project.title, project_path(project) %></h2>
        <img class="two-space" srcset="<%= project.image %>" width="100%" height="auto" />
        <article>
          <%= sanitize(project.description) %>
        </article>
        <div class="one-space">
          <%= link_to "Project details...", project_path(project) %>
        </div>
      </section>
      <% end %>
    <% else %>
      There are no projects on this site lol
    <% end %>

  </section>
</main>
